.header {
  background-image: url("/images/main-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 800px;
}

.img-class {
  width: 25%;
  top: 90px;
}

.current {
  border-width: 5px;
  border-color: var(--color-primary-light);
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.srch {
  background-color: transparent;
  border-color: transparent;
}

@media only screen and (min-width: 38em){

  .img-class {
    width: 10%;
    top: 110px;
  }

  .btn-hover {
    display: inline;
  }

}
