.bg-check {
  background-color: var(--color-secondary-light);
}

.bg-main {
  background-color: var(--color-primary-light);
  color: var(--color-secondary-light);
}

.text-c-ii {
  color: var(--color-secondary);
}

.border-col {
  border-color: var(--color-secondary-light);
}

textarea {
  border-color: var(--color-primary);
  border-width: 5px;
}

label::before {
  border: 2px solid var(--color-primary);
}

input#province {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-secondary-light);
  font-weight: bold;
}

input#firstname {
  font-weight: bold;
}

input#lastname {
  font-weight: bold;
}

input#address {
  font-weight: bold;
}

input#country {
  font-weight: bold;
}

input#city {
  font-weight: bold;
}

input#postalcode {
  font-weight: bold;
}

input#phone {
  font-weight: bold;
}

input#email {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-secondary-light);
  font-weight: bold;
}

input#date {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-secondary-light);
}

.flag-optional {
  color: #999;
}

.dif-col {
  color: var(--color-secondary-light);
}

.number-col {
  width: 50px;
}

input#number {
  border-color: var(--color-secondary);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

[type="radio"] + label::before {
  border-color: var(--color-primary-light);
}

[type="radio"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle fill='var(--color-primary)' cx='128' cy='128' r='70.4'/%3E%3C/svg%3E")
}
