.card-crystal {
  color: var(--color-primary);
  text-align: center;
}

.section-card {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.card-crystal:hover .section-card {
  background-color: var(--color-secondary-light);
  border-color: var(--color-primary-light);
  border-width: 7px;
  border-style: dotted;
  border-top: 0;
  border-bottom: 0;
}

.card-recommendation {
  color: var(--color-primary);
  text-align: center;
  color: var(--color-primary-light);
}

.card-recommendation:hover .section-card {
  background-color: var(--color-primary);
  transition: all 500ms linear;
}

.card-recommendation:hover h3 {
  color: var(--color-primary-light);
}

.card-recommendation:hover h5 {
  color: var(--color-primary-light);
}

.left-p {
  text-align: right;
}

.text-c {
  color: var(--color-secondary-light);
}

.sec-card {
  max-width: 40em;
  margin: 0 auto;
}

.focuscard:focus {
  outline: 3px solid var(--color-secondary);
  border-color: var(--color-secondary);
}

@media only screen and (min-width: 38em) {

  .card:hover .card-text {
    color: var(--color-primary-light);
  }

  .card-crystal:hover .section-card {
    background-color: var(--color-primary);
    transition: all 500ms linear;
    border: 0;
  }

}
