---
layout: default
---

{% pattern sections/crystal-info header=page.name color=page.color colorii=page.color2 text-main=page.description firsticon=page.firsticon secondicon=page.secondicon thirdicon=page.thirdicon firstpic=page.firstpic secondpic=page.secondpic thirdpic=page.thirdpic text=page.quote properties-i=page.properties-i properties-ii=page.properties-ii properties-iii=page.properties-iii properties-iv=page.properties-iv properties-v=page.properties-v properties-vi=page.properties-vi properties-vii=page.properties-vii chakra=page.chakra shape=page.shape hardness=page.hardness %}

<div class="pad-t pad-b">
  {% pattern cards/crystal-info-card image=page.image price=page.price button_text="ADD TO CART" button_aria="ADD to cart button" button_col=page.button %}
</div>

{% pattern sections/products-showcasing %}
