a:hover {
  color: var(--color-secondary);
}

a {
  color: var(--color-primary);
}

ul > li::before {
  color: var(--color-secondary-light);
}

.main-change {
  color: var(--color-secondary);
}

.main-change:hover {
  color: var(--color-primary);
}
