a:hover {
  color: var(--color-secondary);
}

a {
  color: var(--color-primary);
}

ul > li::before {
  color: var(--color-secondary-light);
}

.main-change {
  color: var(--color-secondary);
}

.main-change:hover {
  color: var(--color-primary);
}

.focusbtn:focus {
  outline: 3px solid var(--color-secondary);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-secondary-light);
  padding: 3px;
}
